.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

.dialogsItems .active {
  color: darkblue;
}

.dialogsItems a{
  color: white;
  text-decoration: none;
}

a.active {
  color: yellow;
}

.dialogsItems a:hover {
  color: aqua;
}

.messages {
  padding: 10px;
}

.message {
  
}
